<form action="/prehistoric_creatures/<%= preID %>/?_method=PUT" method="POST">
    <form action="/prehistoric_creatures" method="POST">
<label for="prehistoricType">Type</label>
    <input type="text" id="prehistoricType" name="type" value="<%= pre.type %>">

    <label for="prehistoricImg">Image URL</label>
    <input type="submit" value="Update Prehistoric Creature">
</form>