<form action="/prehistoric_creatures" method="POST">
   <label for="prehistoricType">Type</label>
    <input type="text" id="prehistoricType" name="type">

    <label> for="prehistoricImg">Image Url</label>
    <input type="submit" value="Add a Prehistoric Creature">
</form>